.connection {
  display: flex !important;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.connection p {
  text-align: right;
}

.btn-connect {
  cursor: pointer;
  display: block;
  appearance: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ec5990;
  background-color: #ec5990;
  color: white;
  font-weight: 600;
  text-align: center;
}

.btn-connect:hover {
  border: 1px solid #bf1650;
  background: #bf1650;
}

.btn-connect:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}
